form.search {
  input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }

  button {
    float: left;
    width: 20%;
    padding: 10px;
    background: rgb(109, 16, 20);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }

  button:hover {
    background: rgb(158, 18, 23);
  }

  &::after {
    content: "";
    clear: both;
    display: table;
  }
}
