<div class="container">
  <div class="row">
    <h3>Akciós termékek</h3>
    <div class="lineSep"></div>
    <div class="col-12">
      <app-product-paging [products]="saleProducts"></app-product-paging>
    </div>
  </div>
  <div class="row">
    <h3>Kiemelt termékek</h3>
    <div class="lineSep"></div>
    <div class="col-12">
      <app-product-paging [products]="featuredProducts"></app-product-paging>
    </div>
  </div>
  <div class="row py-4">
    <h4>Keressen termékeink között:</h4>
  </div>
  <div class="row">
    <div class="col-12">
      <app-product-list [products]="products"></app-product-list>
    </div>
  </div>
</div>
